* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
}

.cover-image-section {
    background-image: url('images/bg-desktop-light.jpg');
    background-size: cover;
    width: 100%;  
    padding: 12rem 0;
}

.content-section {
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    position: relative;
}

/* Todo Section */

.todo-section__wrapper {
    width: 40%;
    padding: 2rem;  
    margin: 0 auto;
    position: relative; 
}

.todo-section {
    width: 100%;    
    position: absolute;     
    left: 0;    
    top: -200px;   
}

/* Todo Section Header */

.todo-section__header {
    display: flex;      
    justify-content: space-between;     
    align-items: center;    
    margin-bottom: 3rem;
}

.todo-section__header h4 {
    color: white;   
    letter-spacing: 1rem;   
    font-family: 'Josefin Sans', sans-serif;    
    font-size: 2.5rem;
    font-weight: 700;   
}

.toggle-appearance-btn {
    cursor: pointer;    
}

/* Todo Section Entry */

.todo-section__entry {
    border: 1px solid white;
    background-color: white;    
    border-radius: 8px;
}

.todo-section .entry-field, .todo-section .list-field {
    display: flex;      
    justify-content: space-between;     
    align-items: center;
    width: 90%;
    padding: 1rem 0;      
    margin: 0 auto;
}


.entry-field .checkbox {
    border: 1px solid lightgrey;
    border-radius: 100%;    
    cursor: pointer;    
}

.entry-field .checkbox.checked {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox img.check-mark {
    width: 16px;    
    max-width: 100%;    
    height: auto;   
    margin: 0.6rem 0.55rem 0.6rem 0.55rem;
    /* position: relative;
    top: 1.45px;
    left: 1.4px; */
}

.entry-field .input-field {
    width: 90%;
}

.entry-field .input-field input, .list-field .input-field input{
    font-size: 1.05rem;
    width: 100%;    
    padding: 0.55rem 0;     
    border: none;  
    outline: none;  
}

::placeholder {
    color: hsl(236, 9%, 61%);   
    font-size: 1.05rem;
}

/* Todo Section List */

.todo-section__list {
    background-color: white;    
    margin-top: 1.5rem;     
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

.todo-section__list .list-field {
    border-bottom: 1px solid lightgrey;
}

.list-field .checkbox {
    border: 1px solid purple;
    border-radius: 100%;     
    cursor: pointer;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-field .checkbox.checked {
    background-color: purple;
}

.list-field .input-field {
    width: 85%;
}

.list-field .delete-btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    width: 5%;
    height: 20px;
    cursor: pointer;
}

/* Todo Status */

.todo-section__status {
    background-color: white;
    border-top: none;
    border-bottom: white;
    padding: 1.5rem 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1rem 2rem 0 hsl(225, 20%, 95%);
}

.status-wrapper {
    display: grid;  
    grid-template-columns: 20% 54% 26%;     
    width: 90%;
    margin: 0 auto; 
}

.status-wrapper p { 
    color: #4F21EA, #008B8B;
    cursor: pointer;    
}

.status-wrapper .list-preference {
    width: 80;
}

.list-preference .content-wrapper {
    display: flex;  
    justify-content: space-evenly;  
}

.clear-completed-btn {
    text-align: end;  
}

.mobile-list-preference {
    display: none;
}

@media screen and (max-width:767px) {
    .todo-section__wrapper {
        width: 90%;
        max-width: 540px;
        margin: 0 auto;
    }

    .todo-section__header h4 {   
        font-size: 1.8rem;
    }

    /* Todo Section Entry */

    .todo-section .entry-field, .todo-section .list-field {
        display: flex;
        align-items: baseline;
        width: 90%;
        padding: 1rem 0;      
    }

    .checkbox img.check-mark {
        width: 14px;    
        max-width: 100%;    
        height: auto;   
        margin: 0.43rem 0.35rem 0.43rem 0.35rem;
    }

    .entry-field .input-field {
        width: 87%;
    }

    .entry-field .input-field input {
        width: 100%;    
        padding: 0.55rem 0; 
    }

    /* Todo Section List */

    .todo-section__list .list-field {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    }

    .list-field .checkbox {
        margin-right: 0.5rem;
    }

    .list-field .input-field {
        width: 81%;
    }

    /* Todo Status */

    .todo-section__status {
        border: none;
    }

    .status-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;    
    }

    .status-wrapper .list-preference {
        display: none;
    }

    .mobile-list-preference {
        background-color: white;
        display: block;
        margin: 3rem 0;
        border-radius: 8px;
        box-shadow: 0 1rem 2rem 0 hsl(225, 20%, 95%);
    }

    .mobile-list-preference .content-wrapper {
        width: 80%;
        max-width: 300px;
        padding: 1.5rem 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    .mobile-list-preference .content-wrapper p {
        font-size: 1.1rem;
    }
}