* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
}

.cover-image-section {
    background-image: url('images/bg-desktop-light.jpg');
    background-size: cover;
    width: 100%;  /* general */
    padding: 12rem 0;
}

.content-section {
    height: 100vh;
    position: relative;
}

.todo-section__wrapper {
    width: 40%;
    padding: 2rem;  /* general */
    margin-inline: auto;
    position: relative; /* general */
}

.todo-section {
    width: 100%;    /* general */
    position: absolute;     /* general */
    left: 0;    /* general */
    top: -220px;   
}

.todo-section__header {
    display: flex;      /* general */
    justify-content: space-between;     /* general */
    align-items: center;    /* general */
    margin-bottom: 3rem;
}

.todo-section__header h4 {
    color: white;   /* general */
    letter-spacing: 1rem;   
    font-family: 'Josefin Sans', sans-serif;    /* general */
    font-size: 2.5rem;
    font-weight: 700;   /* general */
}

.toggle-appearance-btn {
    cursor: pointer;    /* general */
}

.todo-section__entry {
    border: 1px solid lightgrey;
    background-color: white;    /* general */
    border-radius: 8px;
}

.todo-section .entry-field, .todo-section .list-field {
    /* border: 1px solid lightgrey; */
    display: flex;      /* general */
    justify-content: space-between;     /* general */
    align-items: center;
    width: 90%;
    padding: 1rem 0;      /* general */
    margin-inline: auto;    /* general */
}


.entry-field .checkbox {
    border: 1px solid lightgrey;
    border-radius: 100%;     /* general */
    cursor: pointer;    /* general */
}

.entry-field .checkbox.checked {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox img.check-mark {
    width: 16px;    /* general */
    max-width: 100%;    /* general */
    height: auto;   /* general */
    margin: 0.6rem 0.55rem 0.6rem 0.55rem;
    /* position: relative;
    top: 1.45px;
    left: 1.4px; */
}

.entry-field .input-field {
    width: 90%;
    /* border: 1px solid red; */
}

.entry-field .input-field input, .list-field .input-field input{
    width: 100%;    /* general */
    padding: 0.55rem 0;     /* general */
    border: none;   /* general */
    outline: none;  /* general */
}

::placeholder {
    color: hsl(236, 9%, 61%);   /* general */
}

.todo-section__list {
    background-color: white;    /* general */
    margin-top: 1.5rem;     /* general */
    border: 1px solid lightgrey;
    border-radius: 8px 8px 0 0;
}

.list-field .checkbox {
    border: 1px solid purple;
    border-radius: 100%;     /* general */
    cursor: pointer;    /* general */
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-field .checkbox.checked {
    background-color: purple;
}

.todo-section__list .list-field {
    border-bottom: 1px solid lightgrey;
}

.todo-section__list .list-field:last-child {
    border-bottom: none;
}

.list-field .input-field {
    width: 85%;
}

/* button {
    background-color: transparent;
    border: none;
} */

.list-field .delete-btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    width: 5%;
    height: 20px;
    cursor: pointer;
}

.todo-section__status {
    background-color: white;
    border: 1px solid lightgrey;  
    border-top: none;
    padding: 1.5rem 0;
    border-radius: 0 0 8px 8px;
}

.status-wrapper {
    display: grid;  /* general */
    grid-template-columns: 1fr 2fr 1fr;     /* general */
    width: 90%;
    margin-inline: auto;    /* general */
}

.status-wrapper p { 
    color: #4F21EA, #008B8B;
    cursor: pointer;    /* general */
}

.list-preference .content-wrapper {
    display: flex;  /* general */
    justify-content: space-evenly;  /* general */
}

.clear-completed-btn {
    text-align: end;  /* general */
}